@import '../../style/JuraFont.scss';
@import '../../style/colors.scss';

.Iphone_item {
	transition: all 0.3s ease-in-out;
	span {
		display: block;
	}
	width: 277px;
	// height: 331px;
	padding: 20px;
	background: #fff;
	border-radius: 25px;
	@media screen and (max-width: 1170px) {
		padding: 10px;
		width: 164px;
	}
	a {
		display: flex;
	}
	img {
		display: flex;
		width: 143px;
		height: 143px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.Iphone_item_info {
		h5 {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
		}
		span {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			margin-top: 5px;
		}
		&-specifications {
			color: $purple;
		}
		&-number {
			color: $gray;
		}
		@media screen and (max-width: 1170px) {
			h5 {
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
			}
			span {
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
	.Iphone_item_pay {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 15px;
		&_price {
			display: flex;
			align-items: center;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			span {
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 24px;
				color: #000000;
				margin-right: 5px;
			}
		}
		&_basket {
			border: none;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			display: flex;
			align-items: center;
			background: $purple;
			padding: 5px 14px;
			border-radius: 5px;
			img {
				width: 20px;
				height: 20px;
				margin: 0;
			}
			span {
				font-family: 'Roboto', sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				color: #ffffff;
				margin-left: 5px;
			}
		}
		&_basket:hover {
			box-shadow: 0px 2px 8px rgba(53, 34, 176, 0.55);
			transform: translateY(-2px);
			transition: all 0.3s ease-in-out;
		}
		&_basket:disabled {
			background: #fff;
			border: 1px solid $purple;
			span {
				color: $gray;
			}
			img {
				display: none;
			}
		}
		@media screen and (max-width: 1170px) {
			margin-top: 5px;
			display: block;
			&_price {
				margin-bottom: 10px;
			}
		}
	}
	@media screen and (max-width: 1170px) {
		border-radius: 15px;
	}
	@media screen and (max-width: 720px) {
		width: 100%;
		display: grid;
		grid-gap: 10px;
		grid-template-areas:
			'A A A   B B B'
			'A A A   C C C';

		a {
			grid-area: A;
		}
		.Iphone_item_info {
			grid-area: B;
			h5 {
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
			}
		}
		.Iphone_item_pay {
			grid-area: C;
			&_basket {
				img {
					width: 16px;
					height: 16px;
				}
				span {
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
	}
}
